.card {
  height: 100%;
  text-align: center;

  h6 {
    font-weight: normal;
  }
}

.card-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  & > * {
    margin: .75rem auto;
    max-width: 24rem;

    &:first-child {
      margin-top: 0;
    }
  }

  img {
    height: auto;
    max-width: 100%;
  }

  h6 {
    line-height: 1.5rem;
    font-weight: 200;
  }
}

.card--shadow {
  box-shadow: 5px 5px 6px -2px rgba(87, 87, 87, .1);
}

.card--rounded-corners {
  border-radius: 25px;
}

.smaller-margin{
  margin: -2rem;
}
