footer {
	color: $footer-color;
  font-size: 0.9rem;
  box-sizing: border-box;
  .button{
    min-width: 10rem;
  }

  p {
    font-size: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $footer-color;

    &:hover {
      color:#FFCBAB;
    }
  }

  .top {
    background-color: $footer-background;
    padding: 1rem;

    p {
      margin-left: auto;
      margin-right: auto;
    }

    h5 {
      color: $footer-color;
      font-weight: 700;
    }


    @include breakpoint(medium down) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .bottom {
    background-color: $footer-background-bottom;
    padding-top: $global-padding * 0.75;
    padding-bottom: $global-padding * 0.75;
    min-height: $footer-height;
    a,p{
      color: $white;
    }

    @include breakpoint(medium down) {
      .align-left, .align-right {
        justify-content: center;
        @include xy-gutters($gutter-position: top, $gutter-type: padding);
      }
    }
  }

}