
nav{
    align-items: center;
    border-bottom: 1px solid $footer-background;
    li{
      color: $black;
    }
    h3{
      color: black;
    }
  }
  
  .nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  nav{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
  }